<h1>Pictures (Showing all <%= @pictures.length %>)</h1>

<% @pictures.each do |picture| %>
<div class="picturecontainer">
	<div class="picturetitle">
		<p><span><%= picture.title %></span> by <%= picture.artist %></p>
	</div>
	<div class="picture">
		<%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
	</div>
</div>
<% end %>