// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#navbar {
	font-size: 18px;
	padding: 15px;
	display: block;
	text-align: center;
	float: top;
	width: 100%;
	margin: auto;
}

#contentcontainer {
	padding-top: 50px;
}

span {
	font-weight: bold;
}

.picturecontainer {
	width: 70%;
	margin: auto;
	border: 1px solid navy;
	background-color: white;
}

.picturetitle {
	width: 100%;
	margin: auto;
	text-align: center;
}

.picture {
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 20px;
	padding-bottom: 40px;
}

.form {
	text-align: center;
	marin: auto;
}

h1 {
	font-size: 28px;
	text-align: center;
	color: #F16B3B;
}

h2 {
	font-size: 24px;
	text-align: center;
}

body {
	background-color: #DADAF5;
}

.picturetitle > p {
	font-size: 20px;
	padding-top: 30px;
}